body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

:root{
  --bg:#ffffff;
  --bg-nav:#ffffff;

  --text-primary:#111827;
  --text-muted:#374151;

  --cyan:#00bcd4;
  --purple:#8b5cf6;
  --font:'Poppins',sans-serif;
}

body[data-theme="dark"]{
  --bg:#0f172a;
  --bg-nav:#111827;

  --text-primary:#ffffff;
  --text-muted:#cbd5e1;

  --cyan:#22d3ee;
  --purple:#a855f7;
}

body{
  background: var(--bg);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html{
  scroll-behavior: smooth;
}