@import "tailwindcss";

/* Enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@keyframes mobileScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-66.666%);
  }
}

.animate-scroll {
  animation: mobileScroll 35s linear infinite;
  will-change: transform;
}

.animate-scroll:hover {
  animation-play-state: paused;
}